# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.*
.env.local

# Local Data & Backups (Crucial to block!)
local_database.json
local_database_bak.json
FINAL_EXPORT/
product_images/
Minimart_ULTIMATE_READY/
*.bat
*.mjs
!sync_local_to_supabase.mjs
!migrate_data.mjs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
